<div class="col-md-4 mb-4">
    <div class="card h-100 event-card" data-category="Information Engineering">
        <img src="https://picsum.photos/400/250?1" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">Event Title</h5>
            <p class="card-date">Date: 20 July 2026</p>
            <p class="card-location">Location: Online</p>

            <a href="event.html" class="btn btn-primary">
                Details
            </a>
        </div>
    </div>
</div>
